<h1>Добавление сотрудника к делу №{{ courtCaseId }}</h1>
<div>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="mr-16" style="width: 100%">
      <mat-label>Лицо</mat-label>
      <input
        matInput
        formControlName="employeeId"
        required
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn.bind(this)"
      >
        <mat-option
          *ngFor="let employee of filtered | async"
          [value]="employee.employeeId"
        >
          {{ employee.person.fullName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="create()"
  >
    Добавить
  </button>
</div>
