<h1>Добавление лица</h1>

<form [formGroup]="form">
  <mat-form-field appearance="outline" class="mr-16">
    <mat-label>Тип лица</mat-label>
    <mat-select formControlName="isLegal">
      <mat-option [value]="false">Физ. лицо</mat-option>
      <mat-option [value]="true">Юр. лицо</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="mr-16">
    <mat-label>Короткое название</mat-label>
    <input matInput formControlName="shortName" emptyToNull />
  </mat-form-field>

  <mat-form-field appearance="outline" class="mr-16">
    <mat-label>Полное название</mat-label>
    <input matInput required formControlName="fullName" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="mr-16" style="width: 100%">
    <mat-label>Адрес</mat-label>
    <input matInput formControlName="address" emptyToNull />
  </mat-form-field>

  <mat-form-field appearance="outline" class="mr-16">
    <mat-label>ИНН</mat-label>
    <input matInput formControlName="tin" emptyToNull />
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    class="mr-16"
    *ngIf="form.controls.isLegal.value === 0"
  >
    <mat-label>Паспортные данные</mat-label>
    <input matInput formControlName="passportData" />
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    class="mr-16"
    *ngIf="form.controls.isLegal.value === 0"
  >
    <mat-label>Дата рождения</mat-label>
    <input matInput formControlName="dateBirth" type="date" emptyToNull />
  </mat-form-field>

  <div>
    <button
      mat-flat-button
      color="primary"
      [disabled]="form.invalid"
      class="mt-16"
      (click)="create()"
    >
      Добавить
    </button>
  </div>
</form>
